<h1>Dashboard </h1>


<h3>
<p> Product total : <%=  @product_count %> 
| Link to <a> <%= link_to 'Product List',  [:admin, :products] %> </a>
</p> 
</h3>

<h3>
<p> Category total : <%=  @category_count %>
| Link to <a> <%= link_to 'Category List',  [:admin, :categories] %> </a> 
</p> 
</h3>
