<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>


<p> Product total : <%=  @product_count %> 
Here is the link to <a> <%= link_to 'Product List',  [:admin, :products] %> </a>
</p> 

<p> Category total : <%=  @category_count %> </p> 
