<h1>About Us</h1>

<h2>-------------------------------------------------------------------------</h2>

<h1> Hello! Jungle Rails was created by LHL for practice! </h1>

<h2>-------------------------------------------------------------------------</h2>

<h3> This individual project was worked on during Feb 2022 during week 9 of bootcamp! </h3>
<h3> Rails is all about convention over configuration </h3>
<h3> Its important to learn, so keep learning  </h3>

<h2>-------------------------------------------------------------------------</h2>